.todo-form {
  margin-top: 32px;
  margin-bottom: 32px;
}

.todo-input {
  margin-left: 10px;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #000000;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: 665192;
  color: rgb(2, 2, 2);
  text-transform: capitalize;
}
